In [1]:
import pandas as pd

In [2]:
df_data_historica= pd.read_csv('data/fifa_worldcup_matches.csv')
df_missing_data = pd.read_csv('data/fifa_worldcup_missing_data.csv')
df_fixture = pd.read_csv('data/fifa_worldcup_fixture.csv')

In [3]:
df_fixture['home'] = df_fixture['home'].str.strip() #Borra los espacios en blanco junto
df_fixture['away'] = df_fixture['away'].str.strip()

In [4]:
#df_missing_data[df_missing_data['home'].isnull()]
df_missing_data.dropna(inplace=True)

In [5]:
df_data_historica = pd.concat([df_data_historica, df_missing_data], ignore_index=True)
df_data_historica.drop_duplicates(inplace=True)  #borra duplicados
df_data_historica.sort_values('year', inplace=True) #ordena el df basado en la columna deseada
df_data_historica

           home score            away  year
0       France    4–1          Mexico  1930
17     Uruguay    4–2       Argentina  1930
16     Uruguay    6–1      Yugoslavia  1930
15   Argentina    6–1   United States  1930
14    Paraguay    1–0         Belgium  1930
..          ...   ...             ...   ...
419     Brazil    2–0      Costa Rica  2018
420     Serbia    1–2     Switzerland  2018
421     Serbia    0–2          Brazil  2018
408     France    1–0            Peru  2018
450     Brazil    1–2         Belgium  2018

[901 rows x 4 columns]

In [6]:
df_data_historica[df_data_historica['home'].str.contains('Sweden') & df_data_historica['away'].str.contains('Austria')]

       home   score      away  year
37  Sweden   w/o[a]   Austria  1938

In [7]:
index_delete = df_data_historica[df_data_historica['score'].str.contains('w')].index

In [8]:
df_data_historica.drop(index=index_delete, inplace=True)

In [ ]:
#df_data_historica[df_data_historica['score'].str.contains('[^\d–]')] #[^\d–] Encuentra caracteres que no sean dígitos o –

In [41]:
df_data_historica['score'] = df_data_historica['score'].str.replace('[^\d–]', '', regex=True)

In [43]:
df_data_historica['home'] = df_data_historica['home'].str.strip()
df_data_historica['away'] = df_data_historica['away'].str.strip()

In [48]:
df_data_historica[['GoalsHome', 'GoalsAway']] = df_data_historica['score'].str.split('–', expand=True)

In [56]:
df_data_historica.drop('score'. axis=1, inplace)

In [59]:
df_data_historica.rename(columns={'home':'HomeTeam', 'away':'Away','year':'Year'}, inplace=True)

In [72]:
df_data_historica = df_data_historica.astype({'GoalsHome':int , 'GoalsAway':int})

In [73]:
df_data_historica.dtypes

HomeTeam     object
Away         object
Year          int64
GoalsHome     int32
GoalsAway     int32
dtype: object

In [74]:
df_data_historica.to_csv('clean_fifa_worldcup_matches.csv', index=False)
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv', index=False)

In [76]:
# verify number of matches per competition
years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974,
         1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014,
         2018]

for year in years:
    print(year, len(df_data_historica[df_data_historica['Year']==year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 52
1994 52
1998 64
2002 64
2006 64
2010 64
2014 64
2018 64